@import 'main.css';
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

html{
	background: #383838 url(../img/abstract-bg.svg) bottom right no-repeat;
	height:100%;
	background-position:fixed; /*image doesnot scroll with the scroll bar*/
	overflow-y: scroll; /*sets the scrollbar in the y direction*/
}

body{
	background: none;
	line-height: 1.5;
	color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Abril Fatface',cursive;
	margin-top: 0;
}

p{
	margin-bottom: 1rem;
}

.navbar-brand, .navbar-nav>li>a{
	color: #f5f5f5;
	padding: 20px 20px 20px 20px;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 20px;

}

.navbar-brand:hover, .navbar-nav>li>a:hover{
	background: #777;
	font-size:25px;
}

.navbar-toggle{
	background: #777;
}

.navbar-toggle .icon-bar{
	background: #f5f5f5;
}

@media(max-width: 768px){
	.navbar-nav>li>a:after{
		content: '';
	}
	.navbar-nav>li>a{
		border-radius: 5px;
		background-color: #625D6A;
	}
}

.container-fluid .navigation{
	padding-left: 0px;
	padding-right: 0px;
	border:0px;
}

.container-fluid.text-center{
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
}

.navbar {
	margin-bottom: 0px;
	padding-top: 0px;
	background: #111;
}


.navbar-header {
	margin:0px;
	padding-bottom:5px;
	background-color: #ccc;
}

.container-fluid .jumbotron {
	padding-left: 0px;
	padding-right:0px;
}

.jumbotron{
	background:#f5f5f5  url(../img/linen_white.png) repeat;
	border-radius: 0px;
	min-height: 370px;	
	width: 100%;
	color: #FFF;
	margin-bottom: 0px;
	padding:0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;

}

div.col-md-12.education, div.col-md-12.workex{
	padding-top: 50px;
	padding-bottom: 50px;
}


.workex li{
	color: #f5f5f5;
	max-width: 800px;
	padding: 5px 5px 5px 5px;
	text-shadow: 2px 2px 5px #000;
}

.workex .col-md-10 .col-md-7 h2, .workex  .col-md-10 .col-md-7 p{
	color: #f5f5f5;
	text-shadow: 2px 2px 5px #000;
}

div.col-md-12.workex{
	text-align: left;
	-webkit-padding-start: 0px
	padding-left: 0px;
	font-size: 18px;
}

.experience{
	border:4px;
	border-style: ridge;
	border-color: #999;
	border-radius: 4px;
	padding-top: 13px;
	padding-bottom: 13px;
	background: #555;
}

.samsung{
	min-height: 500px;
	min-width: 500px;
	border:4px;
	border-style: ridge;
	border-color: #999;
	border-radius: 150px;
}

div#bachelors,div#masters{
	background:#333;
	padding-top: 20px;
	padding-bottom: 5px;
	vertical-align: middle;
	text-align:center;
	display: block;
	border:4px;
	border-color: #999;
	border-style: ridge;
	border-radius: 4px;

}


.picframebach, .picframebach_proj , .picframemast, .courses {
	padding-left: 0px;
	background:#333;
	padding-top: 10px;
	display: none;
	text-align: center;
}

.project, .recognition{
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-style: ridge;
	border-color: #777;
	background:#333;
	text-shadow: 2px 2px 5px #000;
}
.project:hover, #bachelors:hover, #masters:hover{
	background:#555;

}

.education .recognition h3{
	color: #f5f5f5;
	font-weight: normal;
}


#picframe_proj .picframebach_proj, .project{
	list-style: none;
	text-align: left;
	font-size:17px;

}

#picframe #vnit img, #picframe #asu img{
	margin-right: 0px;
	text-align: center;
	width: 100%;
}
#picframe #vnit, #picframe #asu
{
	display: none;
	padding-top: 10px;
	margin-right: 0px;
	text-align: center;
	}

/*
.courses li{
	text-align: left;
	padding-left: 90px;
}
*/
div#bachelors,div#masters{
	margin-bottom: 20px;
}


div#bachelors h3,div#masters h3{
	color: #F5F5F5;
	font-weight: lighter;
}


.jumbotron.homeback{
	background: transparent url("../img/back.jpg") no-repeat scroll center center / cover;
}


.jumbotron hr{
	margin-bottom: 5px;
}

.jumbotron h1{
	font-size: 70px;
    text-shadow: 2px 2px 5px #000;
    margin-top: 75px;
    margin-bottom: 15px;
    color: #333;
}

.jumbotron h3{
	font-size: 20px;
	font-weight: bold;
    text-shadow: 2px #444;
    margin-bottom: 25px;
    color: #222;
}

#picframe ul, .workex{
	list-style: none;
}

.jumbotron .lead{
	font-size: 32px;
    color: #444;
    /*text-shadow: 5px 5px 5px 5px #111; */
}

@media(max-width: 992px){
	.jumbotron h1{
		font-size: 72px;
	}

	.jumbotron.lead{
		font-size: 20px;
	}
}


.jumbotron.alternate {
	background:#333  url(../img/texture_back.jpg) repeat;
}

.jumbotron.alternate h1, .jumbotron.alternate p{
	color:#F5F5F5;
}

@media(max-width: 768px){

	.jumbotron{
		background: #fff;
	}
	.jumbotron h1{
		font-size: 40px;
	}
	.jumbotron.lead{
		font-size: 15px;
	}
}
.copyright{
    text-align: center;
}

.social-icons a{
	margin-left:20px;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 60px;
    color:#f5f5f5;
}

.headline{
	padding:0px;

}
.headline h1{
	margin-top: 40px;
	padding:0px;
	font-size: 60px;
}

.social-icons-jumbotron {
	margin-left: -20px;
}

.social-icons-jumbotron a{
	margin-left:-20px;
	text-shadow: 2px 2px 5px #444;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.sitefooter{
	padding:20px 20px 20px 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	background:#111 ;
}

/* carousel */
.carousel{
	margin-top: 20px;
}


.carousel-inner{
	border: 3px;
	border-color: #888;
	border-style: ridge;
	border-radius: 5px;
}

#carousel-example-generic, .carousel-inner,.carousel-inner .item, .carousel-inner .item img{
	max-height: 540px;
	margin-right: 0px;
	width: 100%;
}

.academic, .professional{
	text-align: left;
	padding: 30px;
}

.carousel-inner .item.active{
	border-color: #111;
	border:4px;
}

.carousel-caption h3{
	color:#f5f5f5;
}

.technicalskills .skillitem h3, .technicalskills .skillitem hr, .technicalskills .skillitem{
	text-shadow: 2px 2px 5px #000;
	font-weight: normal;
}

.technicalskills .skillitem h3,.technicalskills .skillitem hr{
	font-size: 24px;
	color: #fff;
	margin-bottom: 5px;
	margin-top: 7px;
}

.technicalskills {
	text-align: center;
}

.skillitem {
	font-size: 24px;
	border-radius: 5px;
	background:#555;
	border:3px;
	margin: 20px;
	color: #f5f5f5;
	min-height: 250px;
		border-style: ridge;
	border-color: #999;
}

.row2 .technicalskills .skillitem {
	font-size: 24px;
	border-radius: 5px;
	background:#555;
	margin: 20px;
	color: #f5f5f5;
	min-height: 100px;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.professional h3, .academic h3{
	color: #f5f5f5;
	text-shadow: 2px 2px 5px #000;
}

.meetme{
	padding-left:10px;
}